bottle==0.12.25
bottle-websocket==0.2.9
EasyProcess==1.1
Eel==0.16.0
entrypoint2==1.1
future==0.18.3
gevent==22.10.2
gevent-websocket==0.10.1
greenlet==2.0.2
jeepney==0.8.0
MouseInfo==0.1.3
mss==9.0.1
Pillow==10.0.0
PyAutoGUI==0.9.54
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyparsing==3.1.0
pyperclip==1.8.2
PyRect==0.2.0
pyscreenshot==3.1
PyScreeze==0.1.29
python3-xlib==0.15
pytweening==1.0.7
whichcraft==0.6.1
zope.event==5.0
zope.interface==6.0
